# Environments
.venv/
venv/
env/

# Environment variables
.env

# Cache and compiled files
__pycache__/
*.pyc
.pytest_cache/

# Streamlit specific
.streamlit/credentials.toml
.streamlit/secrets.toml

# Resoruces
resources/
ignore/

# Specific files
*.log
setup_env.ps1
sua_chave.key
requirements1.txt
app_v*.py

# Specific directories
images/